<div class="col-md-12">
  <div class="agent-settings">
    <ul class="nav nav-pills nav-stacked">
      <h2>
        <%= @item.vendor.title %> # <%= @item.title %>
      </h2>
      <hr>
      <p>
        <strong>Stock:</strong>
        <%= @item.stock %>
      </p>
      <p>
        <strong>Total:</strong>
        <%= @item.total %>
      </p>
      <p>
        <strong>Expected price:</strong>
        <%= @item.expected_price %>
      </p>
      <p>
        <strong>Actual price:</strong>
        <%= @item.actual_price %>
      </p>
      <p>
        <strong>Cost:</strong>
        <%= @item.cost %>
      </p>
      <p>
        <strong>Style:</strong>
        <%= @item.style %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @item.description %>
      </p>
    </ul>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <%= link_to icon_tag('glyphicon-chevron-left') + ' Back', vendor_items_path, class: "btn btn-default" %>
        <% if policy(current_user).edit? %>
          <%= link_to icon_tag('glyphicon-asterisk') + ' Edit', edit_vendor_item_path(@item.vendor_id, @item), class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
